{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Вхід{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-start" style="min-height: 70vh; padding-top: 60px;">
    <div class="card shadow-sm p-4" style="width: 350px;">
        <h2 class="mb-4 text-center">Вхід</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Увійти</button>
        </form>
    </div>
</div>
{% endblock %}
